.product_bg {
    background-size: contain;
    background-repeat: no-repeat
}

.color_box {
    width: 30px;
    height: 20px;
    border: 1px solid black;
}

.product_card {
    width: 290px;
    max-width: 300px;
}

.offer_bage {
    position: absolute;
    padding: 0.5rem 2rem;
    font-size: 16px;
    top: 1.5rem;
    width: fit-content;
    background-color: black;
    border-radius: 0 0 30px 0;
    color: white;
    z-index: 10;
    cursor: pointer;
}

.offer_bage:hover {
    scale: 1.05;
}

@media (max-width: 992px) {

    .product_card {
        max-width: 250px;
    }

}