<!-- Imagen principal -->
<div class="bg-white d-flex flex-column align-items-center">
    <section class="row g-0 justify-content-center align-items-center w-100 h-100 mx-auto home_image_bg">
        <img class="" [src]="images.tatoo_girl" alt="" style="max-width: 700px;">
    </section>

    <div class="row g-0 w-100 justify-content-center" style="max-width: 1200px;">

        <!-- Productos y ofertas -->
        <section class="col-12 d-flex flex-column align-items- px-5 mt-5 bg-white">

            <!-- productos destacados -->
            <h5>Productos destacados</h5>

            <div class="row g-0 w-100 mx-auto">

                <div *ngFor="let item of outstandingProducts" class="col-4 px-3">

                    <img [src]="item" alt="" class="w-100 cursor-pointer small-scale" style="aspect-ratio: 9/12;">

                </div>

            </div>

        </section>

        <section class="col-12 d-flex flex-column align-items-center px-5 mt-5 bg-white">

            <!-- productos destacados -->
            <h5 class="text-center">Ofertas del momento</h5>

            <div class="w-100 d-flex gap-4 flex-column flex-md-row">

                <div class="space1 d-flex flex-column gap-4">

                    <div class="w-100 d-flex gap-4">

                        <div class="item1 item_bg w-50 small-scale cursor-pointer"
                            [style.background-image]="'url(' + images.shirt2 +')'">
                        </div>

                        <div class="item2 item_bg w-50 small-scale cursor-pointer"
                            [style.background-image]="'url(' + images.chico3 +')'">
                        </div>

                    </div>

                    <div class="item4 item_bg w-100 small-scale cursor-pointer"
                        [style.background-image]="'url(' + images.chica1 +')'">
                    </div>

                </div>

                <div class="space2 d-flex flex-column gap-4">

                    <div class="item3 item_bg w-100 small-scale cursor-pointer"
                        [style.background-image]="'url(' + images.chico1 +')'">
                    </div>

                    <div class="item5 item_bg w-100 small-scale cursor-pointer"
                        [style.background-image]="'url(' + images.belt +')'">
                    </div>

                </div>

            </div>

        </section>


    </div>

    <section class="w-100 parallax_bg my-5" [style.background-image]="'url(' + images.parallax_girl +')'"
        style="height: 250px;max-width: 1500px;">

    </section>

    <section class="row g-0 w-100 my-5" style="max-width: 1200px;">

        <h3 class="text-center">New Arrivals</h3>
        <span class="text-center">Marca tu estilo</span>

        <section class="col-12 d-flex flex-column justify-content-between align-items-center" style="height: 500px;">
            <div class=""></div>

            <div class="w-100" style="max-width: 400px;">
                <cmp-cmm-new-button class="w-fit" [config]="{customBorderRadius: '10px'}">
                    <span class=" fs-20 cmm-txt-thin-bold">Ver todo</span>
                </cmp-cmm-new-button>
            </div>

        </section>


    </section>

    <section class="w-100 d-flex justify-content-center flex-column align-items-center py-5"
        style="background-color:#F5F5F5;">

        <h3 class="text-center">Tus marcas favoritas</h3>

        <span class="text-center">en un solo lugar</span>

        <!-- logos -->

        <div class="row g-0 justify-content-evenly align-items-center py-5" style="max-height: 200px;">

            <div *ngFor="let logo of logosBanner" class="col-4">
                <img class="w-100" [src]="logo" alt="" style="max-height: 100px;">
            </div>

        </div>

    </section>


</div>