.fixed_header {
    position: fixed !important;
    // max-height: fit-content !important;
    z-index: 1000;
    // transition: all ease;
}

.header_container {
    max-width: 1200px;
    z-index: 2;
}

@media (max-width: 992px) {

    .header_container {
        z-index: 1;
    }

}